.display_none{display: none;}
.red{color: red;}
.green{color: green;}

.ct_status_label{
    display: inline-block;
    margin: 10px 0 10px 5px;
}

#jform_params_apikey{
    font-size: 14px;
    padding: 3px;
}

#key_buttons_wrapper{
    margin: 10px 0 0 0;
}
#spam_results h2, #spam_results table, #connection_reports h2, #connection_reports table, #connection_reports button {
    -webkit-animation: fadein 1s; /* Safari, Chrome and Opera > 12.1 */
       -moz-animation: fadein 1s; /* Firefox < 16 */
        -ms-animation: fadein 1s; /* Internet Explorer */
         -o-animation: fadein 1s; /* Opera < 12.1 */
            animation: fadein 1s;
}
@keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Firefox < 16 */
@-moz-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Safari, Chrome and Opera > 12.1 */
@-webkit-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Internet Explorer */
@-ms-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Opera < 12.1 */
@-o-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}
#spamcomments_table th, #spamcomments_table td,#spamusers_table th, #spamusers_table td, #connection_reports_table th, #connection_reports_table td, #connection_reports_table th, #connection_reports_table td
{
    text-align: center;
}
#delete_sel_spam_users, #delete_all_spam_users, #delete_sel_spam_comments, #delete_all_spam_comments, #send_connection_report
{
    margin: 0 0 10px 15px;
    float:right;
}
#ct_preloader_spam_results{
            width: 20px; height: 20px;
    margin: 0;
    position: relative;
    top: 50%;
    left: 50%;
    margin-top:20px;
    margin-right: -50%;
    transform: translate(-50%, -50%)
        }
.key_buttons{
    text-decoration: none;
    text-align:center;
    display: inline-block;
    font-size: 13px;
    line-height: 26px;
    height: 28px;
    margin: 0px 0px 10px 0px;
    padding: 0 10px 1px;
    cursor: pointer;
    border-width: 1px;
    border-style: solid;
    -webkit-appearance: none;
    -webkit-border-radius: 2px;
    border-radius: 2px;
    white-space: nowrap;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
        background: #66a966;
        border-color: #3c763d;
        -webkit-box-shadow: inset 0 1px 0 rgba(120,200,230,.5), 0 1px 0 rgba(0,0,0,.15);
        box-shadow: inset 0 1px 0 rgba(120,200,230,.5), 0 1px 0 rgba(0,0,0,.15);
        color: #fff;
}
    .key_buttons:hover{color: #000 !important;}
    #ct_auto_button, #ct_manual_button, #ct_cp_button, #ct_support_button
    {
        margin-right: 10px;
    }
        #ct_preloader{
            width: 20px; height: 20px;
            margin: 4px 8px 0 0;
        } 
        input[name=ct_impspamcheck_checkbox]   
        {
             display: inline-block;
             position: relative;
             top: -5px;
    margin: 10px 5px 2px 0;
        }     
#ct_email_warning{
    display: inline-block;
    margin: 10px 0 2px 0;
}
#ct_license_agreement{
    color: #BBB;
    text-decoration: underline;
}